{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1> {{ todo_list_detail.name }}</h1>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'todo_list_update' todo_list_detail.id %}"> Edit</a>
            <a href="{% url 'todo_list_delete' todo_list_detail.id %}"> Delete</a>

        </p>
        <table>
            <thead>
                <tr>
                    <th> Task </th>
                    <th> Due Date </th>
                </tr>
            </thead>
            <tbody>
                {% for item in todo_list_detail.items.all %}
                <tr>
                    <td>
                        <a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a>
                    </td>
                    <td> {{ item.due_date|date:"M,d,Y" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock content %}
