{%extends 'base.html' %}



{%block content %}
<header>
    <nav>
        <a href="{% url 'todos_list_list' %}">Main Page</a>
    </nav>
</header>
<main>
    <form method="post">
        {% csrf_token %}
        {{ recipe_form.as_p }}
        <button>Save</button>
    </form>
</main>
{%endblock content %}
