{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>Create a new item</h1>
        <form method="post">
            {% csrf_token %}
            <label for="task">Task:</label>
            <input type="text" id="task" name="task">
            <br>
            <label for="due_date">Due date:</label>
            <input type="text" id="due_date" name="due_date">
            <br>
            <label for="is_completed">Is completed:</label>
            <input type="checkbox" id="is_completed" name="is_completed">
            <br>
            <label for="list">List:</label>
            <select id="list" name="list">
                {% for list in lists %}
                <option value="{{ list.id }}">{{ list.name }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit">Create</button>
        </form>
    </div>
</main>
{% endblock %}
